data/label/*
data/raw_img/*
!data/label/Bouy_00000.png
!data/label/Bouy_00001.png
!data/label/Bouy_00002.png
!data/label/Bouy_00003.png
!data/label/Bouy_00004.png
!data/label/Bouy_00005.png
!data/raw_img/Bouy_00000.png
!data/raw_img/Bouy_00001.png
!data/raw_img/Bouy_00002.png
!data/raw_img/Bouy_00003.png
!data/raw_img/Bouy_00004.png
!data/raw_img/Bouy_00005.png
data.bak/*
pg.py
test.py